.prjtnm{
  font-size: 20px;
}
.errr {
  margin-top: 70px;
}
.divider {
  border-bottom: 1px #C9CED1 solid;
  margin: 10px 0 20px 0;
  padding-top: 20px;
}
.padd {
  padding: 20px;
}
.padd2 {
  padding: 15px;
}
.black {
  color: black;
}
